.price .items {
  padding: 40px;
  text-align: center;
}
.price h1 {
  font-size: 50px;
  margin: 20px 0;
  color: #810001;
}
.price h1 span {
  font-size: 20px;
  margin-right: 5px;
  color: #000;
}
.price p {
  color: grey;
  margin: 40px 0;
}
/*--------------faq-------------*/
.faq .container {
  max-width: 70%;
  border-radius: 5px;
}
.faq .box {
  background-color: #fff;
  margin-bottom: 20px;
}
.faq button {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 20px;
}
.faq h2 {
  font-weight: 500;
}
.faq p {
  padding: 20px;
}
.faq .accordion:hover {
  background-color: #810001;
  color: #fff;
}

#text {
  padding: 0 1rem;
}
#text h1{
  font-size: 25px;
  margin: 20px 0;
  text-transform: capitalize;
  font-weight: lighter;
  color: rgb(134, 134, 134);
  margin-top: 0;
}

#testt:before {
  color: red;
  font-size: 40px;
}
a {
  color: #810001;
  text-decoration: none;
}

#text2 p{
margin: 0;
}
.jobsList{
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border: solid;
  border-radius: 2px;
  
  }
  .jobtitle h2{
    text-align: center;
    padding-bottom: 2rem;
  }
  .jobList p{
    margin:2px
  }

  .slick-list {margin: 0 -30px;}
.slick-slide>div {padding: 0 30px;}

.jobsList h2 {
  font-size: 60px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}
.jobsList h3 {
  /* font-size: 12px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  border-radius: 5px;
  font-family: sans-serif; */
}
/*--------------faq-------------*/
